name: Container Build

on:
  push:
    branches:
      - master
    paths:
      - "Dockerfile"
  workflow_dispatch:

env:
  BASE_NAME: viv32/caddy-porkbun

jobs:
  buildx:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run script
        id: get-version
        shell: bash
        run: bash "${GITHUB_WORKSPACE}/scripts/get-version.sh"

      - name: Login to docker.io
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            docker.io/${{ env.BASE_NAME }}:latest
            docker.io/${{ env.BASE_NAME }}:${{ steps.get-version.outputs.LATEST_MINOR_VERSION }}
            docker.io/${{ env.BASE_NAME }}:${{ steps.get-version.outputs.LATEST_PATCH_VERSION }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64,linux/arm64,linux/arm/v7
      
      - name: Create Release
        uses: ncipollo/release-action@v1.14.0
        with:
          tag: ${{ steps.get-version.outputs.LATEST_PATCH_VERSION }}
          commit: master
          draft: true
          body: |
            Update to Caddy version **${{ steps.get-version.outputs.LATEST_PATCH_VERSION }}**

            The image is availabe on [Docker Hub](https://hub.docker.com/r/viv32/docker-caddy-porkbun).

            Pull this image with `docker pull ${{ env.BASE_NAME }}:${{steps.get-version.outputs.LATEST_PATCH_VERSION }}`



            